<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Metaphore application's website">
  <meta name="author" content="MISO.es group at eps.uam.es">

  <title>Metaphore tool</title>
  
  {# Cargamos la librería de Bootstrap #}
  {% load bootstrap4 %}

  {# y los CSS #}
  {% bootstrap_css %}

</head>
<body>

  {# Cargar los javascript y jQuery de Bootstrap #}
  {% bootstrap_javascript jquery='full' %}
  <p>Hola</p>
    
</body>
</html>
